<div class="modal">
    <div class="modal__overlay"></div>
    <div class="modal__content">
        <div class="modal__header">
            <h2 class="modal__title">{% block modal_title %}{% endblock %}</h2>
        </div>
        <div class="modal__body">
            {% block modal_content %}
            {% endblock %}
        </div>
        <div class="modal__footer mt-2">
            {% block modal_actions %}{% endblock %}
            <button class="modal__close bg-gray-400 px-2 py-1 btn-gray-500 rounded">Fechar</button>
        </div>
    </div>  
</div>